<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<div class="flex">
			<div class="copyright">
				&copy; {{ site.title }}. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>. Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a>
			</div>
			<ul class="icons">
				{% if site.social_links.facebook_url and site.social_links.facebook_url != "FACEBOOK_URL" %}
				<li>
					<a href="{{ site.social_links.facebook_url }}" class="icon fa-facebook">
						<span class="label">Facebook</span>
					</a>
				</li>
				{% endif %}
				{% if site.social_links.twitter_url and site.social_links.twitter_url != "TWITTER_URL" %}
				<li>
					<a href="{{ site.social_links.twitter_url }}" class="icon fa-twitter">
						<span class="label">Twitter</span>
					</a>
				</li>
				{% endif %}
				{% if site.social_links.linked_url and site.social_links.linked_url != "LINKED_URL" %}
				<li>
					<a href="{{ site.social_links.linked_url }}" class="icon fa-linkedin">
						<span class="label">linkedIn</span>
					</a>
				</li>
				{% endif %}
				{% if site.social_links.pinterest_url and site.social_links.pinterest_url != "PINTEREST_URL" %}
				<li>
					<a href="{{ site.social_links.pinterest_url }}" class="icon fa-pinterest-p">
						<span class="label">Pinterest</span>
					</a>
				</li>
				{% endif %}
				{% if site.social_links.vimeo_url and site.social_links.vimeo_url != "VIMEO_URL" %}
				<li>
					<a href="{{ site.social_links.vimeo_url }}" class="icon fa-vimeo">
						<span class="label">Vimeo</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</footer>

{% include scripts.html %}