<title>{{ page.title }} - {{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/theory/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/theory/assets/css/main.css" />
