<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="{{ site.baseurl }}/" class="logo">{{ site.title }}</a>
		<nav id="nav">
			{% for menu in site.data.menus %}
			    <a href="{{ site.baseurl }}{{ menu.url }}">
			      {{ menu.name }}
			    </a>
			{% endfor %}
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>