<!-- One -->
<section id="one" class="wrapper">
	<div class="inner">
		<div class="flex flex-3">
			{% for service in site.services %}
			<article>
				<header>
					<h3>{{ service.display }}</h3>
				</header>
				<p>
					{{ service.short_description }}
				</p>
				<footer>
					<a href="{{ site.baseurl }}{{ service.url }}" class="button special">More</a>
				</footer>
			</article>
			{% endfor %}
		</div>
	</div>
</section>