---
layout: page
---

{{ content }}

<div class="flex flex-2">
	{% if page.previous %}
	<article>
		<div class="image fit">
			<img src="{{ site.baseurl }}/{{ page.previous.image }}" alt="Pic 01" />
		</div>
		<header>
			<h3>{{ page.previous.title }}</h3>
		</header>
		<p>{{ page.previous.excerpt }}</p>
		<footer>
			<a href="{{ site.baseurl }}{{ page.previous.url }}" class="button special">More</a>
		</footer>
	</article>
	{% endif %}
	{% if page.next %}
	<article>
		<div class="image fit">
			<img src="{{ site.baseurl }}/{{ page.next.image }}" alt="Pic 01" />
		</div>
		<header>
			<h3>{{ page.next.title }}</h3>
		</header>
		<p>{{ page.next.excerpt }}</p>
		<footer>
			<a href="{{ site.baseurl }}{{ page.next.url }}" class="button special">More</a>
		</footer>
	</article>
	{% endif %}
</div>